#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@font-face {
  font-family: 'Chomsky Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Chomsky Regular'), url('assets/Chomsky.woff') format('woff');
}

/*Header*/
/*=============================================================================*/
.header-container {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  /*box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1);*/
  padding: 12px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.contenedorMainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;
}

.tituloMain h1 {
  font-family: 'Chomsky Regular', serif;
  font-weight: normal;
  font-size: 48px;
  text-align: center;
  margin: 0;
  color: #333;
}

/* Search */
.search-button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-button img {
  width: 32px;
  height: 32px;
}

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.search-header {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 600px;
  margin-top: 50px;
  gap: 10px;
}

.search-header input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-header .close-button {
  font-size: 18px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/*Resultados de búsqueda */
.search-results {
  background: white;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  max-height: 400px;
  overflow-y: auto;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.search-result-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
}

.search-result-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 12px;
}

.search-result-item h4 {
  font-size: 16px;
  margin: 0 0 4px;
}

.search-result-item p {
  font-size: 14px;
  color: #555;
}

.search-result-item small {
  font-size: 12px;
  color: #888;
}

.search-link {
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease-in-out;
}
.search-link:hover {
  color: #0073e6;
  text-decoration: underline;
}

/* Translator */
.translator {
  display: flex;
  gap: 8px;
  align-items: center;
}

.translator-button {
  background: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.translator-button:hover {
  background-color: #000000;
  color: #fff;
}

/*Nav*/
/*=============================================================================*/
.navbar {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
  border-bottom: #000000 double 7px;
}

.nav-link {
  padding: 4px 8px; 
  font-size: 20px;
  font-weight:bolder;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 25px;
  /*transition: all 0.3s ease;*/
  position: relative;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
  z-index: 1;
}

/*.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: #0073e6;
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover {
  color: #0073e6;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}*/
.nav-link::before {
  content: "";
  position: absolute;
  inset: 0;
  background: hsl(0, 0%, 0%); /* Color del fondo animado */
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-in-out;
  z-index: -1;
  border-radius: 4px; 
}

.nav-link:hover {
  color: #fff; 
}

.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
/*Sección de noticias*/
/*==============================================================================*/
.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 32px 0;
  border-bottom: 1px solid #c3c3c3;
  padding-bottom: 8px;
}

.section-title {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: bold;
  margin: 0 0 12px;
  text-align: left;
  color: #000;
  gap: 20px;
}
.section-arrow {
  margin-left: 8px;
  font-size: 35px;
  color: #666;
  font-weight: normal;
  transition: transform 0.2s ease-in-out;
}
.section-title:hover .section-arrow {
  transform: translateX(4px); 
  color: #000;
}

/*Grid*/
/*=============================================================================*/
.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
}

/*Card*/
/*=============================================================================*/
.card {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  background-color: #fff;
  height: 370px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative; 
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  overflow: hidden;
}

.card-content h3 {
  font-size: 20px;
  font-weight:bolder;
  margin: 0 0 10px;
  text-align:left;
}
.card-content h3 a {
  text-decoration: none; 
  color: inherit; 
  transition: color 0.3s ease-in-out; 
}

.card-content h3 a:hover {
  color: #0073e6;
  text-decoration: underline; 
  cursor: pointer;
}

.card-meta {
  font-size: 14px;
  color: #555;
  margin: 10px 0;
  text-align: left;
}

.card-meta span {
  margin-right: 8px;
}

.card-content p {
  margin: 10px 0;
  text-align: justify;
  text-overflow: ellipsis; /* Para truncar el texto */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Número máximo de líneas */
  -webkit-box-orient: vertical;
}

.card-footer {
  position: absolute; 
  bottom: 20px; 
  right: 16px; 
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 12px;
  font-size: 14px;
  /*border-top: 1px solid #eee;*/
  color: #777;
}

.read-more {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
  padding: 0 0 0 8px;
  
}

.read-more:hover {
  text-decoration: none;
  color: #0073e6;
}

.card-section {
  color: #777;
  font-size: 14px;
  padding: 0 8px;
}

.favorito-button {
  position: absolute; /* Superponerlo a la imagen */
  top: 10px; 
  right: 10px; 
  background: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 10; /* Asegura que está sobre la imagen */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.favorito-button.active {
  color: gold; 
}

.favorito-button:hover {
  transform: scale(1.1); 
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
/*Article*/
/*=============================================================================*/
.article-container {
  max-width: 800px;
  margin: 32px auto;
  padding: 16px;
  text-align: justify;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.2;
}

.article-meta {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 14px;
  color: #555;
  margin-bottom: 24px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

.article-meta span {
  display: inline-block;
}

.article-image {
  text-align: center;
  margin: 24px 0;
}

.article-image img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.article-body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.article-not-found {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
  color: red;
}

/*Footer*/
/*=============================================================================*/
.footer {
  background-color: #000;
  color: #fff;
  padding: 24px 16px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0 0 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.footer-links li {
  display: inline;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

/*Redes Sociales */
.footer-social {
  margin-top: 16px;
}

.footer-social a {
  margin: 0 8px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}
.footer-social img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.footer-social a:hover {
  color: #0073e6;
}

/* Responsive */
/*=============================================================================*/
/*Navbar*/
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 12px;
  }

  .nav-link {
    width: 100%;
    text-align: center;
  }
}
/*Search resultados*/
@media (max-width: 768px) {
  .search-header {
    width: 90%;
  }

  .search-results {
    width: 90%;
  }
}

/*Article*/
@media (max-width: 768px) {
  .article-container {
    padding: 8px;
  }

  .article-title {
    font-size: 28px;
  }

  .article-meta {
    flex-direction: column;
    align-items: center;
  }

  .article-meta span {
    margin: 4px 0;
  }
}